header, footer {
	background-color: #a60005;
  position: relative;
}

header h1, footer {
	color: #fff;
	text-align: center;
	padding: 1.8em 0;
	/*line-height: 3em;*/
}

.absolute {
	position: absolute; /*Concatenate redundant styling for .logo, .chatbox, .nav-container*/
}

.logo, .chatbox {
	top: 1em; /*Concatenate redundant styling for .logo, .chatbox*/
}

.logo {
	left: 1em;
}

.chatbox {
	right: 1em;
}

.nav-container {
	left: 0;
	width: 19%;
}

main {
	margin: 20px 10% 20px 25%;
  position: relative;
}
