header, footer {
	background-color: #a60005;
  position: relative;
}

header h1, footer {
	color: #fff;
	text-align: center;
	padding: 1.8em 0;
	/*line-height: 3em;*/
}

<<<<<<< HEAD
.absolute {
	position: absolute; /*Concatenate redundant styling for .logo, .chatbox, .nav-container*/
}

.logo, .chatbox {
	top: 1em; /*Concatenate redundant styling for .logo, .chatbox*/
}

.logo {
=======
.logo{
	position: absolute;
>>>>>>> f31ae472d93f75c4c37a81d9212df79b9ca246e7
	left: 1em;
}

.chatbox {
	right: 1em;
}

.nav-container {
	left: 0;
	width: 19%;
}

main {
	margin: 20px 10%% 20px 25%;
  position: relative;
}
