header, footer {
	background-color: #a60005;
  position: relative;
}

header h1, footer {
	color: #fff;
	text-align: center;
	padding: 1.8em 0;
	/*line-height: 3em;*/
}

.logo{
	position: absolute;
	left: 1em;
	top: 1em;
}

.chatbox {
	position: absolute;
	right: 1em;
	top: 1em;
}

.nav-container {
	position: absolute;
	left: 0;
	width: 19%;
}

main {
	margin: 20px 10%% 20px 25%;
  position: relative;
}
